
.comment-form-container{
    width: auto;
    flex-grow: 1;
}

    .rating-section{
        display: flex;
        gap: 5px
    }

    .comment-form-container textarea{
        width: 100%;
        max-width: 500px;
        height: 100px;
        display: block;
        border: 0.5px grey solid;
        border-radius: 10px;
        padding: 10px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    button {
        width: 100px;
    }

    button .inactive:hover {
        background-color: grey;
        transition: 0.3s;
        transform: scale(1);
    }

    button .active:hover {
        background-color: grey;
        transition: 0.3s;
        transform: scale(1);
    }