



/* ====== single comment ======= */

.comment-list-wrapper{
    width: 600px;
    margin: 20px;
    flex-grow: 0.5;
}

    .single-comment-wrapper{
        position: relative;
        margin-top: 10px;
        /* display: flex; */
        border-top: 1px lightgray solid;
        padding-top: 10px;
    }

        .left-block{
            width: 200px;
        }

            .user-block{
                display: flex;
                gap: 5px;
            }

        .comment-content{
            flex-grow: 1;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: lightgray solid 0.5px;
        }

        .delete-icon{
            position: absolute;
            top: 10px;
            right: 0px;
            width: 25px;
        }

        .active{
            cursor: pointer;
        }

        .active:hover{
            transition: 0.3s;
            transform: scale(1.2);
        }

        .inactive{
            color: darkgray;
        }
