
.color-size-selector-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}

.color-palette{
    margin-right: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.select-wrapper{
    display: flex;
    gap: 10px;
}


