
/* ===NAVBAR === */
.navbar {
    height: 60px;
    background-color: rgb(218, 231, 213);
}

.navbar-wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

    /* =========Left section ============== */

    .navbar-left {
        flex:1;
        display: flex;
        gap:10px;
        align-items: center;
    }

        .navbar-left .search-container{
            display: flex;
            border: 0.5px solid black;
            margin-left: 10px;
        }

        .navbar-left .language{
            font-size: medium;
        }

    /* ==========Center section ============= */
    .navbar-center {
        flex:1;
    }

        .navbar-center .title{
            margin: 0;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

    /* ==========Right section============= */

    .navbar-right {
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .navbar-right   .user-email {
            color: brown;
        }

        .navbar-right .menu-item{
            font-size: 15px;
            margin-left: 10px; 
            padding: 5px 5px;
            border-bottom: 1px solid;
            cursor: pointer;
        }

        .menu-item:hover{
            border-radius: 10%;
            color: white;
            /* background-color: rgb(21, 94, 86); */
            background-color: rgb(21, 94, 86);
            transition: 0.3s;
            transform: scale(1.1);
        }

        .dropdown{
            position: relative;
            display: inline-block;
        }

        .dropdown .content{
            min-width: 80px;
            left: 8px;
            top: 35px;
            display: none;
            position: absolute;
            background-color: white;
            border-radius: 5px;
            z-index: 1;
        }

        .dropdown:hover .content{
            display: block;
        }

            .dropdown .dropdown-item{
                padding-left: 5px;
                margin: 5px;
            }

            .dropdown .dropdown-item:hover{
                background-color: darkgrey;
            }


    

        